<div class="cards-container">
  <div>
    <button (click)="toggleDeactivatedUsersHidden()">
      Hide Deactivated (Hidden)
    </button>
    <button (click)="toggleDeactivatedUsersVisibility()">
      Hide Deactivated (NgIf)
    </button>
  </div>
  <div class="cards">
    <ng-container *ngFor="let user of users">
      <div [style.visibility]="isDeactivatedUsersHidden ? 'visible' : user.activated? 'visible' : 'hidden'">
        <ng-container *ngIf="isDeactivatedUsersShown ? true : user.activated"
          ><mat-card class="card" [hidden]="true">
            <div>{{ user.name }}</div>
            <div>Age {{ user.age }}</div>
            <div>{{ user.activated? 'Active' : 'Non-Active' }}</div>
            <button
              (click)="this.deactivateUser(user)"
              [disabled]="!user.activated"
            >
              Deactivate
            </button>
          </mat-card></ng-container
        >
      </div>
    </ng-container>
  </div>
</div>
