.addresses-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 5px;
  align-items: center;
}

.address-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.address-line {
  display: inline-block;
}

.delete-address-button {
  display: inline-block;
}

.add-address-button {
  display: block;
  margin: 0 auto;
}
