<div class="users">
  <ng-container *ngFor="let user of users">
    <app-card [entity]="user" (addToFavoriteEvent)="addToFavorite($event)">
      <div class="title">{{ user.name }}</div>
      <div class="subtitle">{{ user.age }} years old</div>
      <img class="cardImage" src="{{ user.imageUrl }}" alt="Card Image" />
      <div class="cardContent">
        <div>Gender: {{user.gender}}</div>
        <div>Company: {{ user.company }}</div>
        <div>Department: {{ user.department }}</div>
      </div>
    </app-card>
  </ng-container>
</div>
