<div class="add-user-container">
  <div class="add-user">
    <div class="add-user_form-wrapper">
      <form
        id="add-user-form"
        class="add-user-form"
        [formGroup]="userGroup"
        (submit)="addNewUser()"
        novalidate
      >
      <h4>Add user</h4>
        <app-add-user
          (emitUserForm)="onUserFormInit($event)"
          [isFormInvalid]="isFormInvalid"
        ></app-add-user>
        <app-addresses (emitAddressesForm)="onAddressesFormsArrayInit($event)" [isFormInvalid]="isFormInvalid"></app-addresses>
        <button class="add-user_submit-button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
