<div class="add-user-container">
  <div class="add-user">
    <div class="add-user_form-wrapper">
      <form
        id="add-user-form"
        class="add-user-form"
        [formGroup]="userGroup"
        (submit)="addNewUser()"
        novalidate
      >
        <app-add-user
          [userGroup]="userGroup"
          [key]="'user'"
          [isFormInvalid]="isFormInvalid"
        ></app-add-user>
        <app-addresses [userGroup]="userGroup" [key]="'addresses'" [isFormInvalid]="isFormInvalid"></app-addresses>
        <button class="add-user_submit-button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
