<div class="vehicles">
  <ng-container *ngFor="let vehicle of vehicles">
    <app-card
      [entity]="vehicle"
      [isFavored]="checkIfFavored(vehicle.id)"
      (addToFavoriteEvent)="addToFavorite($event)"
      (removeFromFavoriteEvent)="removeFromFavorite($event)"
    >
      <div class="title">{{ vehicle.name }}</div>
      <div class="subtitle">{{ vehicle.number }}</div>
      <img class="cardImage" src="{{ vehicle.imageUrl }}" alt="Card Image" />
      <div class="cardContent">
        <div>Produced in {{ vehicle.releaseYear }}</div>
        <div>Color: {{ vehicle.color }}</div>
      </div>
    </app-card>
  </ng-container>
</div>
