<div class="users-shell">
  <app-search class="search-field" (searchInputChanged)="getUsers($event)"></app-search>

  <div class="users-list-shell">
    <div class="users-container">
      <app-users-list
        class="users-list"
        [users]="users"
        [pageIndex]="pageIndex"
        (toggleIsFavoriteEvent)="toggleIsFavorite($event)"
      ></app-users-list>
    </div>
    <app-favorites
      class="favorite-users"
      [favorites]="favorites"
    ></app-favorites>
  </div>

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
    (page)="OnPageChange($event)"
  >
  </mat-paginator>
</div>
