<div class="users-shell" #top>
  <div class="users-shell-tools">
    <app-search
      class="search-field"
      (searchInputChanged)="getUsers($event)"
    ></app-search>
    <button mat-stroked-button class="refresh-button" color="primary" (click)="refreshClickSubject.next()">
      <mat-icon>refresh</mat-icon>
    </button>

    <button
      mat-stroked-button
      class="only-one-button"
      color="primary"
      (click)="onlyFirstClickSubject.next()"
    >
      <mat-icon>first_page</mat-icon>
    </button>
  </div>

  <div class="users-list-shell">
    <div class="users-container">
      <app-users-list
        class="users-list"
        [users]="users"
        [pageIndex]="pageIndex"
        (toggleIsFavoriteEvent)="toggleIsFavorite($event)"
        (exportUserToExcelEvent)="exportUserToExcel($event)"
        (saveUserEvent)="saveUser($event)"
      ></app-users-list>
    </div>
    <app-favorites
      class="favorite-users"
      [favorites]="favorites"
    ></app-favorites>
  </div>

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
    (page)="OnPageChange($event)"
  >
  </mat-paginator>
</div>
