.users-shell {
  margin: 0;
  padding: 0;
}

.users-list-shell {
  display: flex;
  flex: 1 1 0;
  flex-wrap: nowrap;
}

.users-shell-tools {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.search-field {
  flex-grow: 1;
}

.refresh-button {
  height: 46px;
}

.only-one-button {
  height: 46px;
}

.users-container {
  width: 80vw;
}

mat-paginator {
  display: flex;
  border-top: 1px solid black;
  justify-content: center;
}

.favorite-users {
  border-left: 1px solid black;
}
