.ambitions-header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 0;

  &__item {
    display: inline-block;
    background-color: black;
    margin: 5px;
    padding: 5px;
  }

  &__logo-container {
    display: flex;
    margin-right: auto;
    padding-left: 20px;
  }

  &__logo-image {
    width: 50px;
  }

  &__link {
    text-decoration: none;
    color: white;

    &--logo {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }

    &--users-active {
      color: red;
    }

    &--vehicles-active {
      color: green;
    }

    &--uiTable-active {
      color: purple;
    }

    &--serverTable-active {
      color: yellow;
    }

    &--users:hover {
      color: red;
    }

    &--vehicles:hover {
      color: green;
    }

    &--uiTable:hover {
      color: purple;
    }

    &--serverTable:hover {
      color: yellow;
    }
  }

  &__title {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
    align-items: center;
    color: white;

    &--unlogged {
      height: 50px;
      display: flex;
      margin: 0 auto;
      align-items: center;
      color: white;
    }
  }

  &__user-menu {
    position: relative;
    display: inline-block;
    padding-right: 10px;

    &:hover {
      .ambitions-header__user-menu-items {
        display: block;
      }

      .ambitions-header__username {
        color: #3e8e41;
      }
    }

    &-items {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 127px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    &-item {
      color: black;
      padding: 12px 16px;
      display: block;
      cursor: pointer;

      &:hover {
        color: #3e8e41;
        border: 1px solid black;
      }
    }
  }

  &__username {
    padding-right: 10px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  &__user-photo {
    display: inline-block;
    width: 50px;
    border-radius: 35px;
  }
}
