.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex: 1 1 0;

}

.header-title {
  display: flex;
  margin-right: auto;
  padding-left: 20px;
  align-items: center;
  color: white;
}

.header_item {
  background-color: black;
  margin: 5px;
  padding: 5px;
}

.header_item__link {
  text-decoration: none;
  color: white;
}
