<div class="users">
  <ng-container *ngFor="let user of users">
    <app-card>
      <div class="title">
        {{ user | fullNamePipe }}, <br />
        {{ user.age }}
        <button mat-icon-button color="primary" (click)="editUser(user.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="subtitle">{{ user.email }}</div>
      <img class="cardImage" src="{{ user.imageUrl }}" alt="Card Image" />
      <div class="cardContent">
        <div class="user-info">
          Gender:
          <img
            class="user-gender"
            [src]="user.gender | genderPipe"
            alt="Gender"
          />
        </div>
        <div class="user-info">
          Nationality:
          <img
            class="user-nat"
            [src]="user.nationality | nationalityPipe"
            alt="Nat"
          />
        </div>
        <div class="user-info">Phone: {{ user.phone }}</div>
        <div class="address-list">
          <span class="address-list-title">Addresses:</span>
          <ng-container *ngFor="let address of user.addresses; index as i">
            <div
              class="addressLine"
              *ngIf="address.city; else shortenedAddress"
            >
              {{ i + 1 }} - {{ address.city }}, {{ address.addressLine }},
              {{ address?.zip }}
            </div>
            <ng-template #shortenedAddress>
              <div class="addressLine">
                {{ i + 1 }} - {{ address.addressLine }}
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
      <div class="cardActions">
        <button
          id="toggleIsFavoriteButton"
          mat-icon-button
          [color]="checkIfFavored(user.id) ? 'warn' : ''"
          aria-label="Add to favorites"
          (click)="toggleIsFavorite(user)"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button (click)="exportUserToExcel(user.id)">
          <mat-icon matTooltip="Import to Excel">import_export</mat-icon>
        </button>
        <button mat-icon-button (click)="saveUser(user.id)">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button (click)="viewUser(user.id)">
          <mat-icon>visibility</mat-icon>
        </button>
      </div>
    </app-card>
  </ng-container>
</div>
