<div class="users">
  <ng-container *ngFor="let user of users">
    <app-card>
      <div class="title">
        {{ user.firstName }} {{ user.lastName }}, {{ user.age }}
        <button mat-icon-button color="primary" (click)="editUser(user.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="subtitle">{{ user.email }}</div>
      <img class="cardImage" src="{{ user.imageUrl }}" alt="Card Image" />
      <div class="cardContent">
        <div>Gender: {{ user.gender }}</div>
        <div>Company: {{ user.company }}</div>
        <div>Department: {{ user.department }}</div>
        <div>
          Addresses:
          <ng-container *ngFor="let address of user.addresses; index as i">
            <div
              class="addressLine"
              *ngIf="address.city; else shortenedAddress"
            >
              {{ i + 1 }} - {{ address.city }}, {{ address.addressLine }},
              {{ address?.zip }}
            </div>
            <ng-template #shortenedAddress>
              <div class="addressLine">
                {{ i + 1 }} - {{ address.addressLine }}
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
      <button
        class="cardLikeButton"
        id="toggleIsFavoriteButton"
        mat-icon-button
        [color]="checkIfFavored(user.id) ? 'warn' : ''"
        aria-label="Add to favorites"
        (click)="toggleIsFavorite(user)"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </app-card>
  </ng-container>
</div>
