<div class="vehicles">
  <ng-container *ngFor="let vehicle of vehicles">
    <app-card>
      <div class="title">{{ vehicle.name }}</div>
      <div class="subtitle">{{ vehicle.number }}</div>
      <img class="cardImage" src="{{ vehicle.imageUrl }}" alt="Card Image" />
      <div class="cardContent">
        <div>Produced in {{ vehicle.releaseYear }}</div>
        <div>Color: {{ vehicle.color }}</div>
      </div>
      <button
        class="cardLikeButton"
        id="toggleIsFavoriteButton"
        mat-icon-button
        [color]="checkIfFavored(vehicle.id) ? 'warn' : ''"
        aria-label="Add to favorites"
        (click)="toggleIsFavorite(vehicle)"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </app-card>
  </ng-container>
</div>
