.edit-user {
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}

.edit-user_form-wrapper {
  max-width: 40%;
  border: 1px solid lightgrey;
  padding: 1em 2em;
  box-shadow: 0 15px 20px lightgrey;
  text-align: center;
}
