<div [formGroup]="addUserForm">
  <div class="add-user_form-control-wrapper">
    <span>First Name:</span>
    <input
      class="add-user_form-control"
      type="text"
      id="first-name-input"
      placeholder="First Name"
      formControlName="firstName"
      autocomplete="given-name"
    />
    <span
      *ngIf="
        addUserForm.get('firstName')!.hasError('required') && isFormInvalid
      "
      class="form-error"
    >
      First Name field is required.
    </span>
  </div>
  <div class="add-user_form-control-wrapper">
    <span>Last Name:</span>
    <input
      class="add-user_form-control"
      type="text"
      id="last-name-input"
      placeholder="Last Name"
      formControlName="lastName"
      autocomplete="family-name"
    />
    <span
      *ngIf="addUserForm.get('lastName')!.hasError('required') && isFormInvalid"
      class="form-error"
    >
      Last Name field is required.
    </span>
  </div>
  <div class="add-user_form-control-wrapper">
    <span>Email:</span>
    <input
      class="add-user_form-control"
      type="email"
      id="email-input"
      placeholder="Email"
      formControlName="email"
      autocomplete="email"
    />
    <span
      *ngIf="addUserForm.get('email')!.hasError('required') && isFormInvalid"
      class="form-error"
    >
      Email field is required.
    </span>
    <span
      *ngIf="addUserForm.get('email')!.hasError('pattern') && isFormInvalid"
      class="form-error"
    >
      Email adress should end with @gmail.com.
    </span>
    <span
      *ngIf="addUserForm.get('email')!.hasError('emailExists') && isFormInvalid"
      class="form-error"
    >
      Please enter the correct email, this one is already taken.
    </span>
  </div>
  <div class="add-user_form-control-wrapper">
    <span>Age:</span>
    <input
      class="add-user_form-control"
      type="text"
      id="age-input"
      placeholder="Age"
      formControlName="age"
      autocomplete="age"
    />
    <span
      *ngIf="addUserForm.get('age')!.hasError('required') && isFormInvalid"
      class="form-error"
    >
      Age field is required.
    </span>
    <span
      *ngIf="addUserForm.get('age')!.hasError('min') && isFormInvalid"
      class="form-error"
    >
      Age should be more or equal to 15.
    </span>
    <span
      *ngIf="addUserForm.get('age')!.hasError('max') && isFormInvalid"
      class="form-error"
    >
      Age should be less or equal to 100.
    </span>
    <span
      *ngIf="addUserForm.get('age')!.hasError('pattern') && isFormInvalid"
      class="form-error"
    >
      Please use numbers only.
    </span>
  </div>
  <div class="add-user_form-control-wrapper">
    <span>Department:</span>
    <input
      class="add-user_form-control"
      type="text"
      id="department-input"
      placeholder="Department"
      formControlName="department"
      autocomplete="Department"
    />
    <span
      *ngIf="addUserForm.get('department')!.hasError('required') && isFormInvalid"
      class="form-error"
    >
      Department field is required.
    </span>
    <span
      *ngIf="addUserForm.get('department')!.hasError('maxlength') && isFormInvalid"
      class="form-error"
    >
      Department name length should be less or equal to 50.
    </span>
  </div>
  <div class="add-user_form-control-wrapper">
    <span>Company:</span>
    <input
      class="add-user_form-control"
      type="text"
      id="company-input"
      placeholder="Company"
      formControlName="company"
      autocomplete="Company"
    />
    <span
      *ngIf="addUserForm.get('company')!.hasError('required') && isFormInvalid"
      class="form-error"
    >
      Company field is required.
    </span>
    <span
      *ngIf="addUserForm.get('company')!.hasError('minlength') && isFormInvalid"
      class="form-error"
    >
      Company name should be longer or equal to 5.
    </span>
  </div>
  <div class="add-user_form-control-wrapper">
    <label>
      <input type="radio" formControlName="gender" name="gender" value="male" />
      Male</label
    >
    <label>
      <input
        type="radio"
        formControlName="gender"
        name="gender"
        value="female"
      />
      Female</label
    >
    <div
      *ngIf="addUserForm.get('gender')!.hasError('required') && isFormInvalid"
      class="form-error"
    >
      Please choose your gender.
    </div>
  </div>
</div>
